[Unit]
Description=workspace-switcher
PartOf=graphical-session.target

[Service]
ExecStart=DISPLAY=:0 /usr/bin/libinput-gestures
Restart=always

[Install]
WantedBy=xsession.target
