[Unit]
Description=workspace-switcher
PartOf=graphical-session.target

[Service]
User=rishabh
ExecStart=/usr/bin/workspace-switcher

[Install]
WantedBy=xsession.target
